<mat-nav-list fxLayout="column" fxLayoutAlign="space-between">
    <div>
        <mat-list-item *ngFor="let menu of listMenu" >
            <a [routerLink]="menu.url">
                <button mat-icon-button >
                    <img src="{{menu.icon}}"/>
                    <span *ngIf="expanded">{{menu.title}}</span>
                </button>
            </a>
        </mat-list-item>
    </div>
    <div>
        <mat-list-item>
            <a>
                <button
                    mat-icon-button
                    color="accent"
                    (click)="toggleExpaned()"
                    >
                    <mat-icon *ngIf="expanded">arrow_back_ios</mat-icon>
                    <mat-icon *ngIf="!expanded">arrow_forward_ios</mat-icon>
                </button>
            </a>
        </mat-list-item>
    </div>
</mat-nav-list>
